<%- include("partials/header") %>
<div class="container">
<div class="jumbotron centered">
    <h1 class="display-4">You've Discovered My Secret!</h1>
    <p class="lead secret_paragraph">Gojo satorou is my hero.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </p>
  </div>
</div>
<%- include("partials/footer") %> 