body{
    background-color: #E8ECEF;
}
.centered{
    padding-top: 200px;
    text-align: center;
}

.secret_paragraph{
    background-color: black;
    color:#fff;
    font-size: 2rem;
    text-align: center;
}